.nav-link.activate {
  border-bottom: 2px green solid!important;
}

.nav-link {
  transition: 0.3s;
  border-bottom: transparent solid 2px;
  font-size: 1em!important;
  padding-bottom: 0;
  margin-bottom: .4rem;
}

.nav-link.active {
  color: rgba(255, 255, 255, .5)!important;
}

.nav-link:hover {
  transform: scale(1.15);
  color: white;
}
.collapse .nav-link:hover {
  transform: scale(1);
}

.navbar-brand {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.4em!important;
}

.navbar-brand .nav-link {
  color: white!important;
  padding:0;
}